/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: #aab2c5;
  font-family: 'Open Sans';
  overflow: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Default Font Styles
   ========================================================================== */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('../font/open-sans-v18-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
       url('../font/open-sans-v18-latin-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../font/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('../font/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('../font/open-sans-v18-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('../font/open-sans-v18-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../font/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
       url('../font/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../font/open-sans-v18-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('../font/open-sans-v18-latin-800italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/open-sans-v18-latin-800italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}






@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons Sharp'),
    local('MaterialIcons-SharpRegular'),
    url('../font/MaterialIconsSharp-Regular.otf') format('opentype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#create_wrapper {
  width:  100vw;
  display:  flex;
  min-height:  100vh;
}

#sidebar {
  background-color: #424752;
  min-height:  100vh;
  color:  white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

#sidebar.full {
  width:  200px;
}

#sidebar.collapsed {
  width:  50px;
}

#sidebar.collapsed .menu .divider {
  width: 30px;
}

#sidebar.collapsed .menu .section .buttons .button .title {
  display: none;
}

#sidebar.collapsed .menu .section .buttons .button .arrow {
  display: none;
}

#sidebar.collapsed .logo {
  height:  50px;
  width:  50px;
  background-size: 40px;
}

#sidebar .logo {
  width:  200px;
  height:  50px;
  background-image:  url('../img/clio.svg');
  background-size:  50px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#sidebar .menu {
  flex-grow: 1;
}

#sidebar .menu .section {

}

#sidebar .menu .divider {
  height: 3px;
  width: 180px;
  margin: 10px;
  background-color:  white;
}

#sidebar .menu .section .header {
  font-weight:  900;
  text-transform: uppercase;
  color:  #66ff66;
  padding: 0 20px;
}

#sidebar .menu .section .buttons {
  
}

#sidebar .menu .section .buttons .button {
  width: 100%;
  height: 50px;
  display:  flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
#sidebar .menu .section .buttons .button:hover {
  background-color: #767D8C;
  color: white !important;
  font-weight: 800;
}

#sidebar .menu .section .buttons .button:hover .arrow {
  color: white !important;
}

#sidebar .menu .section .buttons .button .icon {
  width:  50px;
  height:  50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebar .menu .section .buttons .button .title {
  flex-grow: 1;
  font-weight: 700;
}

#sidebar .menu .section .buttons .button .arrow {
  width: 35px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #424752;
}



#sidebar .controls {
  height: 50px;
  display: flex;
}

#sidebar .controls #view_button {
  width: 50px;
  height: 50px;
  display:  flex;
  justify-content: center;
  align-items: center;
  cursor:  pointer;
}

#sidebar.selected_displays #displays_button,
#sidebar.selected_programs #programs_button,
#sidebar.selected_activities #activities_button,
#sidebar.selected_institution #institution_button,
#sidebar.selected_extensions #extensions_button {
  background-color: #aab2c5;
  color: #424752;
  font-weight: 800;
}

#pane {
  flex: 1;
  height: 100vh;
  display:  flex;
  flex-direction: column; 
  color:  #424752;
  overflow: scroll;
}

#pane > .title {
  height: 60px;
  width: calc(100% - 40px);
  font-weight: 800;
  font-size: 2em;
  border-color: #424752;
  border-width: 0 0 2px 0;
  border-style: solid;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  margin: 0 20px 10px 20px;
  user-select: none;
}

#pane > .title span.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin: 0 5px 0 0;
}

#pane #back {
  width: 40px;
  height: 40px;
  background-color: #424752;
  color:  #aab2c5;
  margin: 0 10px 0 0;
  display:  flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#pane #back span {
  font-size: 25px;
}

#pane > .button_bar {
  height: 35px;
  padding: 0 0 10px 0;
  width:  calc(100% - 40px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
}

#pane > .button_bar.bottom {
  border-color: #424752;
  border-width: 2px 0 0 0;
  border-style: solid;
  padding: 10px 0 0 0;
  margin: 50px 20px 10px 20px;
}

#pane .button_bar .left {
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

#pane .button_bar .left .button {
  margin: 0 10px 0 0;
}

#pane .button_bar .right .button {
  margin: 0 0 0 10px;
}

#pane .button_bar .right {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

#pane .button_bar .button {
  min-width: 120px;
  height:  35px;
  border-radius: 5px;
  background-color: #767D8C;
  color:  white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select:  none;

}

#pane .button_bar .button.small {
  width: 35px;
  min-width: 35px;
}

#pane .button_bar .button.small .icon {
  margin: 0;
}

#pane .button_bar .button.small .text {
  display: none;
}

#pane .button_bar .button:hover {
  background-color: #424752;
}

#pane .button_bar .button.green {
  background-color: #238823;
}

#pane .button_bar .button.red {
  background-color: #D2222D;
}

#pane .button_bar .button .icon {
  margin: 0 5px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pane .button_bar .button .icon span {
  font-size:  25px;
}

#pane .button_bar .button .text {
  margin: 0 5px 0 0;
}

#pane .list_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: flex-start;
}



#pane .list_content .action_card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display:  flex;
  flex-direction: column;
  margin: 10px;
  user-select: none;
}

#pane .list_content.hidden_selected .action_card.user_hidden {
  display: none !important;
}

#pane .list_content.visible_selected .action_card.user_hidden {
  display: flex !important;
}

#pane .list_content .action_card .badge {
  display: none;
}

#pane .list_content .action_card.exhibit .badge {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 999px;
  background-color: #424752;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position:  absolute;
  top:  10px;
  left: 10px;
}


#pane .list_content .action_card .preview {
  height: 140px;
  width: 200px;
  background-color: #767D8C;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  flex-direction: column;
  position: relative;
}

#pane .list_content .action_card .preview .button_bar {
  width: 200px;
  height: 35px;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 105px 0 0 0;
}

#pane .list_content .action_card:hover .preview .button_bar {
  display:  flex;
}


#pane .list_content .action_card .preview .button_bar .tool_button {
  color:  white;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
    cursor: pointer;

}

#pane .list_content .action_card .preview .button_bar .tool_button span {
  font-size: 30px;
}

#pane .list_content .action_card .title_bar {
  height:  60px;
  width:  180px;
  padding: 0 10px;
  background-color: #424752;
  color:  white;
  display:  flex;
  flex-direction: row;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
    cursor: pointer;
    box-sizing: unset;


}

#pane .list_content .action_card .title_bar > .title {
  flex-grow: 1;
  font-weight: 800;
}

#pane .list_content .action_card .title_bar .arrow {
  width: 20px;
}

#pane .list_content .action_card .title_bar .arrow span {
  font-size:  20px;
}

#pane .bar_sort {
  margin: 0 5px 0 0;
}

#institution .action_card .preview span,
#extensions .action_card .preview span {
  font-size: 100px;
  color:  white;
}

.input_form {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.input_form .form_row {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.input_form .form_row.hide {
  display: none;
}

.input_form .form_row.single {
  height: 75px;
  flex-direction: column;
}

.input_form .form_row.optional {
  height: 35px;
  flex-direction: row;
}

.input_form .form_row.optional_input {
  margin: 0;
}

.input_form .form_row.field {
  height: 285px;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.input_form .form_row .title {
  font-weight: 800;
  padding: 0 5px 0 0;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.input_form .form_row.single .title {
  width: 100%;
  height: 35px;
  align-items: center;
}

.input_form .form_row.field .title {
  width: 100%;
  height:35px;
  align-items: center;
}

.input_form .form_row.optional .title {
  align-items: flex-end;
}

.input_form .form_row.optional_input .title {
  display: none;
}

.input_form .form_row.single .input {
  min-width: 400px;
  height: 35px;
}

.input_form .form_row.single .input input {
  width: 400px;
  height: 35px;
  background-color: #767D8C;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 0 0 0 10px;
}

.input_form .form_row.field .input {
  width: 100%;
  height: 250px;
}

.input_form .form_row.field .input textarea {
  height: 250px;
  width: 600px;
  padding: 10px;
  background-color: #767D8C;
  border-radius: 5px;
  border: 0;
  resize: none;
  color: white;
  font-family: 'Open Sans';
}

.input_form .form_row.optional .input {
  display: flex;
  align-items: flex-end;
}

.input_form .form_row.optional .input input {
  -webkit-appearance: none;
  background-color: #767D8C;
  padding: 9px;
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

.input_form .form_row.optional .input input:checked {
  background-color: #424752;
  color: white;
}

.input_form .form_row.optional .input input:checked:after {
  content: '\e876';
  height: 25px;
  width: 25px;
  line-height: 25px;
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-family: 'Material Icons';
}

.input_form .separator {
  width: 510px;
  height: 2px;
  background-color: #858c9d;
  margin: 10px 0 25px 0;
}

.input_form .section_title {
  height: 30px;
  width: 510px;
  font-weight: 700;
  font-size: 1.25em;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

#included_list {
  width: 600px;
  display: flex;
  flex-direction: column;
}

#included_list .list_header {
  font-weight: 800;
  padding: 0 5px 0 0;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 35px;
}

#included_list .list_row {
  display: flex;
  height: 35px;
  width: 510px;
  
  border-radius: 999px;
  margin: 5px 0;
  cursor: pointer;
}

#included_list .list_row:hover {
  background-color: #858c9d;
  color: white;
}

#included_list .list_row .icon {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}

#included_list .list_row .icon span {
  cursor: pointer;
  font-size: 35px;
}

#included_list .list_row:hover .icon.green {
  background-color: #238823;
}

#included_list .list_row:hover .icon.red {
  background-color: #D2222D;
}

#included_list .list_row .title {
  height: 35px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  font-weight: 700;
  margin: 0 0 0 5px;
}

#included_list .list_row:hover .title {
  font-weight: 800;
}

ul.nav {
  width: 100%;
  justify-content: center;
  padding: 0 0 10px 0;
  border-width:  0 0 2px 0;
  border-style: solid;
  border-color:  #424752;
  margin: 0 0 10px 0;
}

#pane .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #424752;
    font-weight: 800;
}

#pane .nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 999px;
}

#pane .nav-link {
  color:  #424752;
  font-weight: 800;
}

#pane .tab-content {
  width: 100%;
}

#pane .tab-content > .active {
    display: flex;
    justify-content: center;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

